/* Ensure that the root div with className "App" is the most specific, 
   so that the styles defined here take precedence over Bootstrap. */
   .App .login-container,
   .App .SignUp-container {
       max-width: 400px;
       margin: 0 auto;
       padding: 20px;
       text-align: center;
   }
 

   .App .tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Keeps the existing space below the tabs */
    margin-top: 20px; /* Adds space above the tabs to push them down */
    }


    .App .inactive-tab,
    .App .active-tab {
        padding: 10px;
        cursor: pointer;
        background-color: grey; /* Default inactive color */
        color: white;
    }

    .App .active-tab {
        font-weight: bold;
        background-color:#BB5759; /* Maroon color for active tabs */
        color: white;
    }
     
   .App input[type="email"],
   .App input[type="password"] {
       display: block;
       width: calc(100% - 20px);
       margin: 10px auto;
       padding: 10px;
       border: 1px solid #ced4da; /* Bootstrap's default border style for input */
       border-radius: 0.25rem; /* Bootstrap's default border-radius for input */
       height: calc(1.5em + 0.75rem + 2px); /* Bootstrap's default height for input */
   }
     
   .App .forgot-password {
       text-align: right;
       margin-top: 10px; 
       margin-bottom: 30px;
       font-style: italic;
       font-size: small;
   }
   
   .App .role-dropdown,
   .App select {
       width: 70%;
       padding: 10px;
       margin-bottom: 60px;
       cursor: pointer;
       display: block; /* Bootstrap uses display: inline-block by default for select */
       margin: 0 auto 20px auto; /* Center the select element */
       border: 1px solid #ced4da; /* Match Bootstrap's border */
       border-radius: 0.25rem; /* Match Bootstrap's border-radius */
   }
     
   .App .login-button,
   .App .signUp-button {
       width: calc(100% - 20px);
       padding: 10px 0;
       background-color: #BB5759;
       color: white;
       border: none;
       cursor: pointer;
       display: block; /* Add display block to fix any potential issues */
       margin: 10px auto; /* Center the buttons */
   }

   .App .tabs button {
    margin: 0 10px; /* Adds space between the buttons */
    padding: 10px 20px; /* Adds padding inside the buttons for a larger clickable area */
    border: none; /* Removes the border */
    border-radius: 4px; /* Rounds the corners of the buttons */
    font-size: 16px; /* Adjusts the font size */
    font-weight: 500; /* Makes the font a bit bolder */
    transition: all 0.3s ease; /* Adds a transition effect for hover states and other changes */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for depth */
    }

    .App .tabs button:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Increases the shadow on hover for a "lifting" effect */
        transform: translateY(-2px); /* Moves the button up slightly when hovered */
    }


   .App .or {
       margin: 20px 0;
   }

   .App .tabs button {
    margin: 0 30px; /* Adds 10 pixels of margin to the left and right of each button */
    }
   
   .App .social-logins button {
       display: flex;
       align-items: center;
       justify-content: center;
       width: 70%;
       margin: 10px auto;
       padding: 10px;
       border-radius: 2px;
       cursor: pointer;
   }
   
   .App .logo {
       width: 16px;
       height: 16px;
       margin-right: 8px;
   }
     
   .App .social-button.apple {
       background-color: #000;
       color: white;
   }
     
   .App .social-button.google {
       background-color: white;
       color: black;
       border: 1px solid #ced4da; /* Google button usually has a border */
   }   