/* Sidebar.css */

.sidebar {
  width: 260px;
  height: 100vh;
  background-color: #262626;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure sidebar is above other content */
}


.sidebar-wrapper {
  overflow-y: auto;
  height: 100%;
  padding-top: 28px; /* Adjusted padding to prevent overlap */
}


.brand-name {
  font-size: 1rem; /* Adjust the font size if needed */
  font-weight: bold;
  color: #fff;
  padding: 20px 15px; /* Adjusted padding for better spacing */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}


.user-section {
  display: flex;
  align-items: center;
  padding: 15px;
  margin-top: 20px; /* Adjusted top margin to add space between brand name and user section */
}

.user-profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-right: 15px;
}

.user-name {
  font-weight: bold;
}

.nav {
  list-style-type: none;
  padding: 0;
}

.nav-item {
  display: flex;
  align-items: center; /* Align items vertically in the center */
}

.nav-link {
  padding: 12px 15px 12px 25px; /* Adjust the left padding to move content towards the left */
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #FFFFFF;
  justify-content: flex-start; /* Align items to the start (left) */
}

.nav-icon {
  margin-right: 5px; /* Reduce the right margin to decrease the gap */
}

.icon-small {
  flex-shrink: 0; 
  cursor: pointer;
}

.dropdown-toggle {
  transition: transform 0.3s;
}

.dropdown {
  display: none;
  background-color: #333333;
  position: static;
  width: 100%;
}

.dropdown-link {
  padding: 10px 20px;
  display: block;
  color: #FFFFFF;
  text-decoration: none;
}

.nav-item.open > .dropdown {
  display: flex;
  flex-direction: column;
}

.nav-item:hover > .dropdown,
.nav-item:active > .dropdown,
.nav-item.open > .dropdown {
  display: flex;
  flex-direction: column;
}

.nav-link.active, 
.nav-link:hover {
  background: #333333;
}

.hr {
  border-bottom: 1px solid #444;
}
